.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding: 10px 20px;
    color: white;
  }
  
  .navbar-logo img {
    width: 50px; /* Adjust the width as needed */
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-links li:last-child {
    margin-right: 0;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
  }
  